@charset "utf-8";
/* CSS Document */
@media screen and (max-width:980px){
header{
	width:100%;
	}
#banner{
	width:100%;
	}
section{
	width:100%;
	}
#footer{
	width:100%;
	}
#bottom{
	width:100%;
	}
	}

